{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <section class="section section-background">
                <h2 class="title">Edit</h2>
                <article class="message is-info">
                    <div class="message-body">
                        If you don't want to change password leave it blank
                    </div>
                </article>
                <article class="message is-success success" style="display: none;">
                    <div class="message-body">
                        Profile updated successfully!
                    </div>
                </article>
                    {% include 'form/user_form.html.twig' with {'form': form, 'buttonName' : 'Update' } %}
            </section>
        </div>
    </div>
{% endblock %}