{% block body %}
    <div class="columns">
        <div class="column is-2 is-offset-5">
            <section class="section" style="background-color: #ECECEA">
                <h2 class="title">Register</h2>
                {% include 'form/user_form.html.twig' with {'form': form, 'buttonName' : 'Register' } %}
            </section>
        </div>
    </div>
{% endblock %}